@model BaseCourse.Dto.CourseDetailDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mango</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mango.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<header class="bg-transparent">
    <div class="container-fluid">
        <div class="coursedescription-header">
            <div class="coursedescription-header-start">
                <a class="logo-image" href="index.html">
                    <img src="~/img/icon/logo.png" alt="Logo" />
                </a>
                <div class="topic-info">
                    <div class="topic-info-arrow">
                        <a asp-action="MyLearning">
                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.5 19.5L8.5 12.5L15.5 5.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                    <div class="topic-info-text">
                        <h6 class="font-title--xs"><a href="#">@Model.Name</a></h6>
                        <div class="lesson-hours">
                            <div class="book-lesson">
                                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 2.75H6C6.79565 2.75 7.55871 3.06607 8.12132 3.62868C8.68393 4.19129 9 4.95435 9 5.75V16.25C9 15.6533 8.76295 15.081 8.34099 14.659C7.91903 14.2371 7.34674 14 6.75 14H1.5V2.75Z"
                                          stroke="#00AF91"
                                          stroke-width="1.8"
                                          stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M16.5 2.75H12C11.2044 2.75 10.4413 3.06607 9.87868 3.62868C9.31607 4.19129 9 4.95435 9 5.75V16.25C9 15.6533 9.23705 15.081 9.65901 14.659C10.081 14.2371 10.6533 14 11.25 14H16.5V2.75Z"
                                          stroke="#00AF91"
                                          stroke-width="1.8"
                                          stroke-linecap="round"
                                          stroke-linejoin="round" />
                                </svg>
                                <span>@Model.LectureCount</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Ends Here -->
<!-- Course Description Starts Here -->
<div class="container-fluid">
    <div class="row course-description">
        <div class="col-lg-8">
            <div class="course-description-start">
                <div class="video-area">
                    <video controls id="my-video" class="video-js w-100" poster="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" data-setup="{}">
                        <source src="" class="w-100" />
                    </video>
                    <div class="vjs-poster" aria-disabled="false" style="background-image: url(&quot;@Model.ImageUrl&quot;);"></div>
                </div>
                <div class="course-description-start-content">
                    <h5 class="font-title--sm"> @Model.Name</h5>
                    <nav class="course-description-start-content-tab">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-ldescrip-tab" data-bs-toggle="tab" data-bs-target="#nav-ldescrip" type="button" role="tab" aria-controls="nav-ldescrip" aria-selected="true">
                                Lesson Description
                            </button>
                            <button class="nav-link" id="nav-loverview-tab" data-bs-toggle="tab" data-bs-target="#nav-loverview" type="button" role="tab" aria-controls="nav-loverview" aria-selected="false">Course Overview</button>
                            <button class="nav-link" id="nav-linstruc-tab" data-bs-toggle="tab" data-bs-target="#nav-linstruc" type="button" role="tab" aria-controls="nav-linstruc" aria-selected="false">Instructor</button>
                        </div>
                    </nav>
                    <div class="tab-content course-description-start-content-tabitem" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-ldescrip" role="tabpanel" aria-labelledby="nav-ldescrip-tab">
                            <!-- Lesson Description Starts Here -->
                            <div class="lesson-description">
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                            <!-- Lesson Description Ends Here -->
                        </div>
                        <div class="tab-pane fade" id="nav-lnotes" role="tabpanel" aria-labelledby="nav-lnotes-tab">

                            <!-- Course Notes Ends Here -->
                        </div>
                        <div class="tab-pane fade" id="nav-lcomments" role="tabpanel" aria-labelledby="nav-lcomments-tab">
                            <!-- Lesson Comments Starts Here -->
                            <!-- Lesson Comments Ends Here -->
                        </div>
                        <div class="tab-pane fade" id="nav-loverview" role="tabpanel" aria-labelledby="nav-loverview-tab">
                            <!-- Course Overview Starts Here -->
                            <div class="row course-overview-main">
                                <div class="course-overview-main-item">
                                    <h6 class="font-title--card">Requirments</h6>
                                    <p class="mb-2 font-para--lg">
                                        @Model.Requirments
                                    </p>
                                </div>
                                <div class="course-overview-main-item">
                                    <h6 class="font-title--card">Who This Course is For</h6>
                                    <p class="mb-2 font-para--lg">
                                        @Model.Target
                                    </p>
                                </div>
                                <div class="course-overview-main-item mb-0">
                                    <h6 class="font-title--card">What You Will be Learn</h6>
                                    <p class="mb-2 font-para--lg">
                                        @Model.Knowledge
                                    </p>

                                </div>
                            </div>
                            <!-- Course Overview Ends Here -->
                        </div>
                        <div class="tab-pane fade" id="nav-linstruc" role="tabpanel" aria-labelledby="nav-linstruc-tab">
                            <!-- course details instructor  -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="course-instructor mw-100">
                                        <div class="course-instructor-info">
                                            <div class="instructor-image">
                                                <img src="dist/images/courses/courseinstructor.png" alt="Instructor" />
                                            </div>
                                            <div class="instructor-text">
                                                <h6 class="font-title--xs"><a href="instructorreviews.html">@Model.CreateUser.Name</a></h6>
                                                <p>Senior Teacher</p>
                                                <div class="d-flex align-items-center instructor-text-bottom">
                                                    <div class="d-flex align-items-center ratings-icon">
                                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M1.5 2.25H6C6.79565 2.25 7.55871 2.56607 8.12132 3.12868C8.68393 3.69129 9 4.45435 9 5.25V15.75C9 15.1533 8.76295 14.581 8.34099 14.159C7.91903 13.7371 7.34674 13.5 6.75 13.5H1.5V2.25Z"
                                                                  stroke="#00AF91"
                                                                  stroke-width="1.8"
                                                                  stroke-linecap="round"
                                                                  stroke-linejoin="round"></path>
                                                            <path d="M16.5 2.25H12C11.2044 2.25 10.4413 2.56607 9.87868 3.12868C9.31607 3.69129 9 4.45435 9 5.25V15.75C9 15.1533 9.23705 14.581 9.65901 14.159C10.081 13.7371 10.6533 13.5 11.25 13.5H16.5V2.25Z"
                                                                  stroke="#00AF91"
                                                                  stroke-width="1.8"
                                                                  stroke-linecap="round"
                                                                  stroke-linejoin="round"></path>
                                                        </svg>

                                                        <p>@Model.CreateUser.CourseCount</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="lead-p">@Model.CreateUser.Job</p>
                                        <p class="course-instructor-description">
                                            @Model.CreateUser.AboutMe
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="videolist-area">

                <div class="videolist-area-bar__wrapper">
                    @foreach (var item in Model.Sections)
                    {
                        <div class="videolist-area-wizard">
                            <div class="wizard-heading">
                                <h6 class="">@item.Name</h6>
                            </div>
                            @foreach (var lecture in item.Lectures)
                            {
                                <div class="main-wizard">
                                    <div class="main-wizard__wrapper"  onclick="ChangeUrl('@lecture.VideoUrl',this)">
                                        <a class="main-wizard-start">
                                            <div class="main-wizard-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="24"
                                                     height="24"
                                                     viewBox="0 0 24 24"
                                                     fill="none"
                                                     stroke="currentColor"
                                                     stroke-width="2"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="feather feather-play-circle">
                                                    <circle cx="12" cy="12" r="10"></circle>
                                                    <polygon points="10 8 16 12 10 16 10 8"></polygon>
                                                </svg>
                                            </div>
                                            <div class="main-wizard-title">
                                                <p>@lecture.Name</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/plugin/js/isotope.pkgd.min.js"></script>
    <script src="~/lib/plugin/js/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/plugin/js/slick.min.js"></script>
    <script src="~/lib/plugin/js/jquery.nice-select.min.js"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</footer>
<script>

    function ChangeUrl(url,element) {
        console.log(url);
        var messages = document.querySelectorAll(".main-wizard__wrapper");
        for (var i = 0; i < messages.length; i++) {
            messages[i].classList.remove("active");
        }
        element.classList.add("active");
        var video = document.getElementById("my-video");
        var source = video.querySelector('source');
        source.setAttribute('src', url);
        video.appendChild(source);
        video.load();
        video.play();
    }
</script>