@model IEnumerable<BaseCourse.Dto.ListCourseDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Course</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create Course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameCategory)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QualityLecture)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Sections", "Sections", new { id = item.Id }, new { @class = "btn" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>