@model BaseCourse.Dto.DetailLectureDto

@{
    ViewData["Title"] = "Details";
}
<div class="container">
<h1>Details</h1>

<div>
    <h4>DetailLectureDto</h4>
    <hr />
    <dl class="row col-md-6">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <iframe height="300px" class="w-100"
                src="@Model.Url"
                frameborder="0"
                allowfullscreen></iframe>
        
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index" asp-route-id = "@Model.SectionId">Back to List</a>
</div>
</div>